extends ../layout/main

block content
  .section
    .container
      h1.title Log in
      h2.subtitle Please log in with a method of your choice.
      .buttons
        a.button(href="/auth/login/network") Network
        a.button(href="/auth/login/local") Local account
