extends ../layout/main

block content
  .section
    .container
      h1.title Network login
      h2.subtitle Log in based on your network.
      .content
        p You are about to log in from #{remoteAddress}.
      form(method="post" action="/auth/login/network")
        input(type="hidden" name="_csrf" value=csrfToken)
        .buttons
          button.button Continue
